<form class="form-inline d-flex justify-content-between mb-3" action="." method="GET">
  <div class="form-inline">
    {% for field in form %}
      {% if not field.field.widget.input_type == 'select' %}
        <div class="form-group mb-2">
          {{ field.errors }}
          {{ field.label_tag }} {{ field }}
          {% if field.help_text %}
            <p class="help">{{ field.help_text|safe }}</p>
          {% endif %}
        </div>
      {% endif %}
    {% endfor %}
  </div>
  <div class="form-inline d-flex justify-content-end">
    {% for field in form %}
      {% if field.field.widget.input_type == 'select' %}
        <div class="d-flex align-items-baseline">
          {{ field.errors }}
          {{ field.label_tag }} {{ field }}
          {% if field.help_text %}
            <p class="help">{{ field.help_text|safe }}</p>
          {% endif %}
        </div>
        {% endif %}
    {% endfor %}
    <button class="btn btn-primary form-btn ml-2" type="button">Получить</button>
  </div>
</form>