.content  .container {
    width: 330px!important;
}
.breadcrumb {
    display: none!important;
}
#id_username::before  {
    content:"Line 1\A Line 2\A Line 3\A";
}
input {
    width: 100%;
    height: 48px;
    padding: 1rem!important;
}
form {
    margin-top: 13rem;
}